@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    1016-08-03 22:44:17
 * @version $Id$
 */
 body{
	font-family: '微软雅黑';
	font-size: 14px;
 }
.root{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	background-color: #FFF;
	flex-wrap: nowrap;
	border: 1px solid #000;
	padding: 10px;
}
.son_1{
	border: 1px solid #000;
	/* width: 400px; */
	height: 100px;
	display: flex;
	margin: 2px;
	padding: 10px;
	flex-wrap: nowrap;
	background-color: #FFF;
}
.son_2{
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	margin: 2px;
/* 	width: 10px; */
	background-color: #FFF;
}
.son_3{
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	margin: 2px;
	background-color: #FFF;
	/* width: 25px; */
}
.son_4{
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	margin: 5px;
	background-color: #FFF;
	/* width: 15px; */
}

.a-button{
	margin-top: 50px;
}
